**/node_modules
**/dist
**/.turbo
**/.next
**/.cache
**/coverage
**/.env
**/.env.local
**/.env.*.local
**/*.log
**/.DS_Store

apps/frontend
apps/backend/api/dist
apps/backend/data-provider/dist

.git
.github
.vscode
.idea
docs
*.md
