EXPO_PUBLIC_API_URL=https://expo-public-api-url
EXPO_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=YOUR-SUPABASE-ANON-KEY
EXPO_PUBLIC_SENTRY_SDN=https://your-sentry-sdn